{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/templatemo-hexashop.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl-carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap.min.css' %}">
</head>
<body>
    <header class="header-area header-sticky">
        <div class="mx-5">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'mainhome' %}" class="logo">
                            <img src="{% static 'images/Booklogo.jpeg' %}" alt="logo" class="image-fluid" width="50px" height="50px">
                            {% comment %} <img src="assets/images/Booklogo.jpeg" alt="logo" class="image-fluid" width="50px" height="50px"> {% endcomment %}
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{% url 'mainhome' %}" class="active">Home</a></li>
                            {% comment %} <li class="scroll-to-section"><a href="#men">c1</a></li>
                            <li class="scroll-to-section"><a href="#women">c2</a></li>
                            <li class="scroll-to-section"><a href="#kids">c3</a></li> {% endcomment %}
                            <li class="scroll-to-section"><a href="{% url 'cart' %}">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
                                {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
                                ({{ count }})
                                {% comment %} {% endif %} {% endcomment %}
                                </a></li>
                            {% comment %} <li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:;">Features</a>
                                <ul>
                                    <li><a href="#">Features Page 1</a></li>
                                    <li><a href="#">Features Page 2</a></li>
                                    <li><a href="#">Features Page 3</a></li>
                                    <li><a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Template Page 4</a></li>
                                </ul>
                            </li> {% endcomment %}
                            {% comment %} <li class="scroll-to-section"><a href="#explore">Explore</a></li> {% endcomment %}
                            <li class=""><a href="{% url 'logout' %}">Logout</a></li>
                            <li class="">{{user.first_name}}</li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="mt-5 pt-5">
        <div class="row m-4">
            <div class="col">
                <div class="row">
                    
                    <h1>BooknAme mmmm</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for i in data %}
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{i.img.url}}" class="card-img-top" alt="..." width=400px height=200px>
                        <div class="card-body">
                            <h4>{{i.title}}</h4>
                            <h3>{{i.author}}</h4>
                            <h2>₹{{i.price}}</h2>
                                <div class=" text-center mt-5">
                                    <a href="/app/buyBookPage/{{i.isbn}}/"><button class="btn btn-success">BUY NOW</button></a>
                                </div>
                            </div>
                            
                        </div>
                </div>
                {%endfor%}
                {% comment %} <div class="col-3 m-4">
                    
                </div>
                <div class="col-3 m-4">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="..." width=400px height=200px>
                        <div class="card-body">
                            <h4>lkjhkj kjguger uytrure bbuytur </h4>
                            <h3>iherihiuiureuyiery</h4>
                            <div class="col text-center mt-5">
                                <a href="#"><button class="btn btn-success">BUY NOW</button></a>
                            </div>
                            </div>
                        </div>
                </div>
                <div class="col-3 m-4">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="..." width=400px height=200px>
                        <div class="card-body">
                            <h4>lkjhkj kjguger uytrure bbuytur </h4>
                            <h3>iherihiuiureuyiery</h4>
                            <div class="col text-center mt-5">
                                <a href="#"><button class="btn btn-success">BUY NOW</button></a>
                            </div>
                            </div>
                        </div> 
                     </div> {% endcomment %}
                
                <div class="col-4"></div>
                <div class="col-4"></div>

                
            </div>
    </div>
   
<body>